In [1]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize

In [2]:
data_path = "C:\\Users\\kolke\\Documents\\Machine Learning\\datasets\\sentiment analysis"

In [3]:
import os

In [5]:
files = os.listdir(data_path)

In [6]:
files

['test.csv',
 'testdata.manual.2009.06.14.csv',
 'train.csv',
 'training.1600000.processed.noemoticon.csv']

In [14]:
train_data_path = os.path.join(data_path, "train.csv")

In [15]:
df = pd.read_csv(train_data_path, encoding='unicode_escape')

In [16]:
df.head()

,textID,text,selected_text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,morning,0-20,Afghanistan,38928346,652860.0,60
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,noon,21-30,Albania,2877797,27400.0,105
2,088c60f138,my boss is bullying me...,bullying me,negative,night,31-45,Algeria,43851044,2381740.0,18
3,9642c003ef,what interview! leave me alone,leave me alone,negative,morning,46-60,Andorra,77265,470.0,164
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,noon,60-70,Angola,32866272,1246700.0,26